/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table {
  background-color: #1E88E5; /*blue suitable with white text*/
}

 body {
   background-color: #E1F5FE; /*Off-white blue*/
   color:White;
 }

h1,h2,h3,h4,h5,h6 {
  font-family: "Lucida Handwriting Italic", Serif;
}
.menu {
  height: auto;
  background-color: #5E35B1;
  font-size: 12px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  align-content: center;
  bottom: 0;
  padding-top: 0%;
  text-decoration: none;
}

a {
	 color: #D9B533;
	 background-color: #5E35B1;
}
a:visited{
	color: #D9B533;
	background-color: #5E35B1;
  opacity: 100%
}

.menu a {
  text-decoration: none;
  color: #D9B533;
  font-family: sans-serif;
  margin: 2%;
  word-wrap: normal;
}

.menu a:hover {
  background-color: #D9B533;
  color: #5E35B1;
}

/*.menu a {
  width: auto;
  background color: #5E35B1;
  float:left;
  color: #D9B533;
  font-family: sans-serif;
  background-color: #5E35B1;
  text-decoration: none;
}*/

.menuItem a{
  color: #D9B533;
  text-decoration: none;
}
.pageContent {
  margin-top:0%;
  padding-top:0%;
  background-color: white;
  margin-right:5%;
  margin-left:5%;
  padding-right:5%;
  padding-left:5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  color: black;
  font-family: sans-serif;
}

.pageContent h1 {
  color:#5E35B1;
}

.pageContent h2 {
  color:#D9B533;
}

.pageContent h3, h4, h5, h6 {
  color: black;
}

product {
    margin: 5px;
    border: 2px solid #ccc;
    float: left;
	background: #faf2e6;
	box-shadow: 5px 5px 2px #888888;
	min-width: 200px;
	max-width: 200px;
	min-height: 250px;
	max-height: 350px;
    border-radius: 5px;
    padding: 5px;
}

.button1 {
	background-color: #008CBA;
	font-size: 10px;
	border-radius: 4px;
	border: 2px solid #4CAF50;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
