<h1>The following Reports are available</h1>
<%= link_to "Customer List",  reports_custlist_path %>
<%= link_to "Product List",  reports_productlist_path %>
<%= link_to "Sales List",  reports_salelist_path %>
